@value containerPadding: 1rem;

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.overlay > *,
.container > * {
  box-sizing: border-box;
}

.container {
  min-height: 100%;
  padding: containerPadding;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 9fr 1fr;
  grid-template-areas:
    "header header header header header"
    "left-arrow main main main right-arrow"
    "footer footer footer footer footer";
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
}
